
###> symfony/framework-bundle ###
/.env
/.env.test
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> netbeans projects ###
/nbproject/
###> netbeans projects ###

###> cache file created by php-cs-fixer ###
.php_cs.cache
###> cache file created by php-cs-fixer ###
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
